<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navii.streamcamp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".StreamCamp"
        android:allowBackup="true"
        android:icon="@drawable/streamcamp_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StreamCamp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SelectCampsActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".PremiumActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".GettingStartedActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".CommunityStandardActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".CampFireActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".StreamCampActivity"
            android:exported="true" />
        <activity
            android:name=".GoLiveActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".CompleteActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".LiveActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".MediaStreamActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/FullScreen" />
    </application>

</manifest>